@tailwind base;
@tailwind components;
@tailwind utilities;

p img {
  @apply rounded-lg;
}

ul {
  @apply text-dark;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-none;
}

::-webkit-scrollbar-thumb {
  @apply bg-medium;
}

::-webkit-scrollbar-thumb:hover {
  @apply hover:bg-dark;
}

::-moz-selection {
  @apply bg-dark text-lightest;
}

::selection {
  @apply bg-dark text-lightest;
}

.transition-colorsNoBorder {
  transition-property: color, background-color, text-decoration-color, fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
